body{
  background-color: rgb(250, 241, 243);
}
.navigation{
  font-size: 2.5vh;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  align-content: center;
  align-items: center;
}
.navigation h2 {
font-size: 40px;
font-family:cursive;
text-align: center;
align-items: center;
align-content: center;
}